#hero {
    width: 100%;
    height: 80vh;
    background-image: url(./bars.webp);
    display: flex;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* map.html */
#map {
    height: 180px;
}